<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783810949423-iag1l5sbsgtfmer9kkhvcfqkeg3m4mpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783810949423-iag1l5sbsgtfmer9kkhvcfqkeg3m4mpc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>783810949423-986uf2g4jimiokanhh76bjb9ue3dbb4o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-bgD2RqsYaXm9wrw9smHpEaXexD9lih4</string>
	<key>GCM_SENDER_ID</key>
	<string>783810949423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.pitik.mobilestaging</string>
	<key>PROJECT_ID</key>
	<string>pitik-cms-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>pitik-cms-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783810949423:ios:d24185f72fc09ae83d71da</string>
	<key>DATABASE_URL</key>
	<string>https://pitik-cms-staging-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>