<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfB3ZdNSvF46KukAfQJkzYEZnBYm1amew</string>
	<key>GCM_SENDER_ID</key>
	<string>994202772938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.pitik.mobile.pitikconnect</string>
	<key>PROJECT_ID</key>
	<string>pitik-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>pitik-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994202772938:ios:4018301749815a786adb33</string>
</dict>
</plist>