<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>814245197671-65bcusuhcqhsprjkt1uk6oov6p9tj25f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhNU3C7m7vlxqDeX8ybPprv009GmhNuvc</string>
	<key>GCM_SENDER_ID</key>
	<string>814245197671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.pitik.mobile</string>
	<key>PROJECT_ID</key>
	<string>pitik-cms-production</string>
	<key>STORAGE_BUCKET</key>
	<string>pitik-cms-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814245197671:ios:fd7cfb096c390f5447e1c2</string>
</dict>
</plist>